<div class="row justify-content-center">
    <h1 class="text-center">Login</h1>
    <hr>
    <div class="col-9">
        <form (ngSubmit)="ingresar()" class="p-4">
            <input type="text" [(ngModel)]="nombre"
                name="nombre" class="form-control"
                placeholder="Nombre de usuario" autofocus autocomplete="false">
            <button [disabled]="nombre.trim().length === 0" class="btn btn-primary btn-block mt-2">
                Ingresar
            </button>
        </form>
    </div>
</div>
